{#
Author: fpodev (fpodev@gmx.fr)
createUser.html.twig (c) 2020
Desc: description
Created:  2020-07-27T14:10:32.280Z
Modified: !date!
#}

<h1>Création de votre compte GMAO</h1>

<p>Bonjour {{ name|capitalize }} {{ firstname|capitalize }},</p>
<p>
    Nous vous informons que votre compte GMAO à été créé, <br>
    <p>Votre identifiant : <strong> {{ mail }} </strong>  </p>
    <p>Votre mot de passe: <strong> {{ pass }} </strong> </p>
</p>
<p> 
    A votre premiére connexion vous serais invité à changer votre mot de passe. <br>
    Celui-ci doit être composé de 10 caractéres minimum et doit contenir majuscules, minuscules, chiffres ainsi que des caractéres spéciaux. <br>
    Celui-ci est confidentiel.
</p>
  <a href="https://127.0.0.1:8000/login" role="button">Connexion à la GMAO</a>
