{#
Author: fpodev (fpodev@gmx.fr)
resetPassword.html.twig (c) 2020
Desc: description
Created:  2020-10-12T14:50:44.355Z
Modified: !date!
#}

<h1>Rénitialisation de votre mot de passe GMAO</h1>

<p>Bonjour {{ name|capitalize }} {{ firstname|capitalize }},</p>
<p>
    Nous vous informons que votre mot de passe GMAO à été réinitialisé, <br>
    <p>Votre identifiant : <strong> {{ mail }} </strong>  </p>
    <p>Votre mot de passe: <strong> {{ pass }} </strong> </p>
</p>
<p> 
    Comme à votre premiére connexion vous serais invité à changer votre mot de passe. <br>
    Celui-ci doit être composé de 10 caractéres minimum et doit contenir majuscules, minuscules, chiffres ainsi que des caractéres spéciaux. <br>
    Celui-ci est confidentiel.
</p>
  <a href="https://127.0.0.1:8000/login" role="button">Connexion à la GMAO</a>
