{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}

{% block body %}

<div class="example-wrapper">
   {% if valid|e %}
       <h1>Blabla</h1>
    {% else %}
    <h1>Bleble</h1>
   {% endif %}
   {% for message in app.flashes('erreur') %}
   <div class="col-xs4">
       <div class="p-3 my-2 rounded-2 error" role="alert">
           {{ message }}
        </div>
   </div>
{% endfor %}   
    {{ form(form, {'action': path('users_change', {id: user.id})}) }}   
{% endblock %}
