<form method="post" action="{{ path('users_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer {{ user.name|capitalize }} {{ user.firstname|capitalize }}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Delete</button>
</form>
